Repository sous-chefs/docker: changes, and which lefthook commands are due for each by the changed paths.
All: yamllint, rubocop

yamllint:
  tags: yaml style
  run: yamllint {staged_files}
  stage_fixed: true

rubocop:
  tags: backend style
  run: chef exec rubocop {staged_files}
  stage_fixed: true

Add Rspec
  lefthook.yml
Due: yamllint

use rhel platform for all el8 and rhel 9+
  kitchen.dokken.yml
  resources/installation_package.rb
  spec/docker_test/installation_package_spec.rb
Due: yamllint, rubocop

use rhel platform for all el8 and rhel 9+ (#1297)
  kitchen.dokken.yml
  resources/installation_package.rb
  spec/docker_test/installation_package_spec.rb
Due: yamllint, rubocop

Typo
  .github/workflows/ci.yml
Due: yamllint

moveggp
  .github/actions/test-kitchen.yml
  .github/actions/virtualbox-setup.yml
Due: yamllint

Move install script here
  .github/actions/chef-install/action.yml
  .github/actions/test-kitchen/action.yml
  .github/actions/virtualbox-setup/action.yml
  .github/workflows/ci.yml
Due: yamllint

Fix recipes
  kitchen.exec.yml
  kitchen.yml
  lefthook.yml
  resources/installation_package.rb
  resources/swarm_token.rb
  spec/docker_test/installation_package_spec.rb
  spec/unit/resources/swarm_service_spec.rb
  test/cookbooks/docker_test/recipes/installation_package.rb
  test/cookbooks/docker_test/recipes/swarm.rb
  test/cookbooks/docker_test/recipes/swarm_default.rb
  test/cookbooks/docker_test/recipes/swarm_worker.rb
  test/integration/swarm/inspec/swarm_test.rb
Due: yamllint, rubocop

Rename
  .github/workflows/ci.yml
  test/cookbooks/docker_test/recipes/installation_package.rb
Due: yamllint, rubocop

Debug
  .github/actions/test-kitchen.yml
  .github/workflows/ci.yml
Due: yamllint

Debug
  .github/actions/test-kitchen/action.yml
  .github/workflows/ci.yml
Due: yamllint

Debug
  .github/workflows/ci.yml
Due: yamllint

Debug
  .github/actions/test-kitchen/action.yml
Due: yamllint

Remove curl-minimal
  .github/workflows/ci.yml
  resources/installation_script.rb
Due: yamllint, rubocop

Ignore Alma
  .github/workflows/ci.yml
  kitchen.yml
  resources/installation_package.rb
  resources/installation_script.rb
  resources/swarm_service.rb
  resources/swarm_token.rb
Due: yamllint, rubocop

Standardise files with files in sous-chefs/repo-management (#1295)
  CHANGELOG.md
  renovate.json
Due: none

Add Docker Swarm support (#1296)
  .github/actions/chef-install/action.yml
  .github/actions/test-kitchen/action.yml
  .github/actions/virtualbox-setup/action.yml
  .github/workflows/ci.yml
  .tool-versions
  CHANGELOG.md
  README.md
  documentation/docker_swarm_init.md
  documentation/docker_swarm_join.md
  documentation/docker_swarm_service.md
  documentation/docker_swarm_token.md
  kitchen.exec.yml
  kitchen.yml
  lefthook.yml
  libraries/helpers_swarm.rb
  resources/installation_package.rb
  resources/installation_script.rb
  resources/swarm_init.rb
  resources/swarm_join.rb
  resources/swarm_service.rb
  resources/swarm_token.rb
  spec/docker_test/installation_package_spec.rb
  spec/unit/resources/swarm_init_spec.rb
  spec/unit/resources/swarm_join_spec.rb
  spec/unit/resources/swarm_service_spec.rb
  test/cookbooks/docker_test/recipes/installation_package.rb
  test/cookbooks/docker_test/recipes/swarm.rb
  test/cookbooks/docker_test/recipes/swarm_service.rb
  test/cookbooks/docker_test/recipes/swarm_worker.rb
  test/integration/swarm/inspec/swarm_test.rb
Due: yamllint, rubocop

Update changelog for 11.9.0
  CHANGELOG.md
Due: none

Update metadata for 11.9.0
  metadata.rb
Due: rubocop

Set Changelog to ## Unreleased
  CHANGELOG.md
Due: none

Standardise files with files in sous-chefs/repo-management
  CHANGELOG.md
  kitchen.dokken.yml
  kitchen.exec.yml
Due: yamllint

Add support for 256 image digests
  CHANGELOG.md
  resources/container.rb
Due: rubocop

Add support for 256 image digests (#1300)
  CHANGELOG.md
  resources/container.rb
Due: rubocop

Add test
  test/cookbooks/docker_test/recipes/container.rb
  test/cookbooks/docker_test/recipes/smoke.rb
Due: rubocop

Standardise files with files in sous-chefs/repo-management (#1299)
  CHANGELOG.md
  kitchen.dokken.yml
  kitchen.exec.yml
Due: yamllint

Add test (#1301)
  test/cookbooks/docker_test/recipes/container.rb
  test/cookbooks/docker_test/recipes/smoke.rb
Due: rubocop

Update changelog for 11.9.1
  CHANGELOG.md
Due: none

Update metadata for 11.9.1
  metadata.rb
Due: rubocop

Update changelog for 11.9.2
  CHANGELOG.md
Due: none

Update metadata for 11.9.2
  metadata.rb
Due: rubocop

Path conditions:
  yamllint: any of: *.yml
  rubocop: any of: *.rb, but not: (^|/)(application|routes)\.rb$
